.header {
    background-color: #0070dd;
    padding: 20px 0px 30px;
    text-align: center;
    text-shadow: 1px 1px gray;
    margin-bottom: 5px;
}

#heading {
    color: whitesmoke;
}
#headline {
  color: #fec320;
}

.row {
    content: "";
    text-align: center;
    display: table;
    clear: both;
    margin-left: auto;
    margin-right: auto;
}

.topnav {
    margin-left: auto;
    margin-right: auto;
    float: left;
    text-align: center;
    background-color: #0070dd;
    color: whitesmoke;
}

.topnav a {
    color: whitesmoke;
    padding: 14px 16px;
    
}

.topnav a:link{
    float: left;
    margin-top: 1px;
    margin-bottom: 1px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    text-decoration: solid;
}

.topnav a:hover {
    text-decoration: underline;
}

.column.side {
    float: left;
    width: 25%;
    text-align: center;
}

.column.middle {
    width: 100%;
    float: right;
    text-align: left;
}

.column.leftside {
    float: left;
    width: 25%;
    text-align: center;
}

.column.centermiddle {
    width: 75%;
    float: right;
    text-align: left;
}

.footer {
    background-color: #0070dd;
    color:#fec320;
    width: 100%;
    font-style: italic;
    font-size: 16px;
    font-weight: lighter;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    float: left;
    display: block;
    position: relative;
    bottom: 0;
    padding: 30px;
}

.formContainer {
    margin: 20px;
    background-color: #0070dd;
    color:#fec320;
    font-size: large;
    resize: vertical;
    height: auto;
    width: auto;
    padding: 30px;
    border: 1px solid #eaeaea;
    border-radius: 5px;
}

/* .formContainer label, .formContainer input {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
} */

body {
    background-color: white;
    position: relative;
    visibility: visible;
}

#subscribe a:visited {
    background-color: aliceblue;
}

table {
    width: 100%;
    border-style: inset;
    border: 1px;
    border-radius: 5px;
    border-width: 3px;
}

th, td {
    padding: 50px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

#contactUs {
    height: 200px;
    width: 300px;
    vertical-align: auto;
    background-repeat: repeat-x;
    opacity: 0.4;
}

#netid {
    font-size: 14px;
    text-align: left;
}

h3 {
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
}

#datetime {
    float: right;
    padding-right: 20px;
    color: #fec320;
}

#addToCart, #btn, #search, #next, #skip {
    background-color: #0070dd;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
    transition: background-color 0.3s;
}

#btn {
  animation: blinker 1s linear infinite;
  background-color: #fec320;
  margin-left: 45%;
}

@keyframes blinker {
  50% {
    opacity: 0.4;
  }
}

#backToShopping {
  background-color: rgb(218, 149, 12);
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
  transition: background-color 0.3s;
}

#addToCart:hover, #btn:hover {
    background-color: #014f9b;
}

#productContainer {
    text-align: center;
    margin: 0 auto;
}

.category-selection {
    margin: 20px 0;
    text-align: center;
  }
  
  .category-selection label {
    font-size: 16px;
    font-weight: bold;
    margin-right: 10px;
  }
  
  .category-selection select {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  #searchInput {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
  }
  
  #searchResults {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .product-item {
    margin: 75px;
    padding: 75px;
    border: 1px solid #ccc;
    border-radius: 4px;
    max-width: 200px;
    text-align: center;
  }
  
  .product-item img {
    max-width: 100%;
    height: auto;
  }
  
  .product-item h3 {
    font-size: 16px;
    margin: 15px 15px;
  }
  
  .product-item p {
    font-size: 14px;
    margin: 15px 15px;
  }
  
  .product-item button {
    padding: 8px 16px;
    font-size: 14px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .product-item:hover {
    background-color: #f2f2f2;
    cursor: pointer;
  }

  #cartItems {
    margin-bottom: 20px;
  }
  
  .cart-item {
    border: 1px solid #eaeaea;
    width: 50%;
    margin-left: 25%;
    border-right: 50px;
    padding: 15px;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }
  
  .cart-item p {
    margin: 5px 0;
  }
  
  .cart-item hr {
    border-top: 1px solid #eaeaea;
    margin: 10px 0;
  }
  
  #cartTotal {
    font-weight: bold;
    font-size: 20px;
    color: #333;
  }
  
  #cartTotal div {
    margin-top: 20px;
    text-align: center;
  }
  
  .empty-cart-message {
    font-size: 18px;
    color: #333;
  }
  